<div *ngIf="isRenderInCanvas===true;then content else other_content"></div>
<ng-template #content>
  <div id="chant-canvas-container-{{id}}"></div>
</ng-template>
<ng-template #other_content>
  <div id="chant-svg-container-{{id}}"></div>
</ng-template>
